# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon
Icon\r

# macOS Finder directory settings
._*
.Spotlight-V100
.Trashes
.DocumentRevisions-V100
.fseventsd

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux system files
*~
.nfs*